.all, body, html{
  padding: 0;
  margin: 0;
}

header{
  padding: 1rem 6rem 6rem 8rem;
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1) ), url(../../assets/pictures/botten2.jpg) repeat center fixed;
  color: ghostwhite;
  height: 35vh;
}
header h1{
  font-size: 6vw;
  -webkit-text-stroke: 1px black;
}

header h2{
  font-size: 3vw;
  -webkit-text-stroke: 0.8px black;
}
nav{
  display: flex;
  align-items: center;
  background-color: rgb(17, 141, 141);
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li{
  float: left;
  display: inline;
}
nav li button{
  font-size: 1.4em;
  color: ghostwhite;
  display: block;
  padding: 1rem;
  background-color: unset;
  border: none!important;

}

nav li button:hover{
  background-color: rgba(10, 211, 211, 0.72);
}
.product_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:2%;
  row-gap: 2%;

}
ul{
  list-style: none;
}

.card{
  align-content: center;
  background-color: greenyellow;
  padding-bottom: 5%;
}

.card p{
  align-content: center;
  align-items: center;
  text-align: center;
}

.card img{
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card figcaption{
  align-content: center;
  text-align: center;
}

.card button{
  margin-right: 33%;
  margin-left: 33%;
  width: 33%;
}


