<app-header></app-header>
<section>
  <div class="banner-innerpage">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
          <h1 class="title">Hondenwinkel</h1>
          <div class="undertext">
            <h4 class="subtitle op-7">
              DE webshop voor al je honden en wensen
            </h4>
          </div>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
