ul{
  list-style: none;
}
nav{
  display: flex;
  align-items: center;
  background-color: rgb(17, 141, 141);
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li{
  float: left;
  display: inline;
}
nav li button{
  font-size: 1.4em;
  color: ghostwhite;
  display: block;
  padding: 1rem;
  background-color: unset;
  border: none!important;

}

nav li button:hover{
  background-color: rgba(10, 211, 211, 0.72);
}

.product_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:2%;
  row-gap: 2%;

}

form{
  width: 60vw;
}
